<div id="about-me" class="w-full bg-gradient-to-b from-[#391E82] to-[#362951] border-b-3 border-black text-4xl flex justify-center items-center py-16">
    <div class="w-[60%]">
        <h2 class="text-7xl text-center font-bold bg-gradient-to-b from-[#ff54f6] to-[#e2b4e2] text-transparent bg-clip-text py-4 underline">
          Sobre mi
        </h2>    
    <div class="mt-8">
    <p class="text-2xl mb-7 text-white">
      Soy técnico en <span class="text-[#8CCDEB] font-semibold">Desarrollo de Aplicaciones Web</span> con una gran pasión por el diseño web, la experiencia de usuario y la tecnología en general. Me considero una persona inquieta y con muchas ganas de seguir aprendiendo, por lo que siempre estoy explorando nuevas herramientas y reforzando mis conocimientos para seguir creciendo como <span class="text-yellow-300 font-semibold">desarrollador</span>.
    </p>

    <p class="text-2xl text-white py-3">
      Tengo un <span class="text-yellow-300 font-semibold">nivel B2 de inglés</span>, lo que me permite comunicarme y trabajar con fluidez en entornos tanto nacionales como internacionales. Estoy especialmente interesado en incorporarme a una empresa donde pueda desarrollarme profesionalmente, aportar valor y participar en proyectos que me reten y me permitan seguir evolucionando en el ámbito del <span class="text-[#8CCDEB] font-semibold">desarrollo web.</span>
    </p>
    </div>
  </div>
</div>
