---
import LinkedIn from "../icons/LinkedIn.astro"
import Github from "../icons/Github.astro"
import Mail from "../icons/Mail.astro"
import TypedText from '../components/TypedText.jsx';
---


<section id="home" class="w-full h-[95vh] flex flex-row">
    <div class="bg-[#0B1D51] w-[30%] flex items-center justify-center">
        <div class="w-[90%] rounded-full border-2 border-white overflow-hidden">
            <img src="/Perfil.png" alt="Imagen de icono">
        </div>
    </div>
    <div class="bg-[#725CAD] w-full text-white flex flex-row items-center justify-start">
        <div class="mx-20">
            <div class="mb-6">
                <h1 class="font-bold text-8xl my-6">Álvaro <span class="text-[#8CCDEB]">Trigueros</span></h1>
                <h2 class="text-yellow-300 text-4xl my-6"><TypedText client:load/></span></h2>
                <p class="text-2xl my-6">Bienvenidos a mi Portfolios</p>
                <p class="text-2xl my-6">Si quieres ponerte en contacto conmigo <span class="text-[#8CCDEB] underline">alvarotriguerosdaw@gmail.com</span></p>
            </div>
            <a class="inline-block text-[#8CCDEB] my-6 border border-[#8CCDEB] rounded-lg bg-[#0B1D51] cursor-pointer px-4 py-2 hover:scale-105 transition-transform duration-200" download href="/Álvaro_Trigueros_VázquezCV.pdf">
                Descargar CV
            </a>
            <ul class="flex flex-row gap-12 my-6">
                <li>
                    <a href="https://github.com/alvarotriguerosdaw" target="_blank">
                        <Github class="size-14 hover:scale-105 transition-transform duration-200"/>
                    </a>
                </li>
                <li>
                    <a href="www.linkedin.com/in/alvarotriguerosvazquez" target="_blank">
                        <LinkedIn class="size-14 hover:scale-105 transition-transform duration-200"/>
                    </a>
                </li>
               

            </ul>
        </div>
    </div>
</section>
