<header>
  <nav class="fixed w-full h-16 bg-[#bcc0ca] flex flex-row items-center px-6">
    <div class="w-[15%]">&lt;AT/&gt;</div>
    <div class="w-full">
      <ul class="flex flex-row align-center justify-between">
        <li>About me</li>
        <li>Proyecto</li>
        <li>Skils</li>
        <li>Contacto</li>
      </ul>
    </div>
  </nav>
</header>
