<header>
  <nav class="fixed w-full h-16 bg-[#bcc0ca] flex items-center shadow z-50">
    <ul class="grid grid-cols-[10%_repeat(4,1fr)] w-full h-full items-center text-center">
      
      <li class="text-lg font-semibold">
        <a >&lt;AT/&gt;</a>
      </li>

      <li>
        <a>About me</a>
      </li>

      <li>
        <a>Proyectos</a>
      </li>

      <li>
        <a>Skills</a>
      </li>

      <li>
        <a>Contacto</a>
      </li>
    </ul>
  </nav>
</header>
