---
import CardProyectos from "./CardProyectos.astro"
---

<div id="proyectos" class="w-full bg-gradient-to-b from-[#3d0370] to-[#9859d0]  border-b-3 border-black text-4xl flex justify-center">
  <div class="w-[60%] mt-15">
    <h2 class="text-7xl text-center font-bold bg-gradient-to-b from-[#ff54f6] to-[#e2b4e2] text-transparent bg-clip-text py-4 underline">
      Proyectos&lt;/&gt;
    </h2>
    <div class="mt-20 mb-10 flex flex-row gap-8 justify-between">
      <CardProyectos />
      <CardProyectos />
      <CardProyectos />
    </div>

    <div class="text-2xl text-white mt-16 mb-16 flex justify-center font-semibold hover:scale-110 cursor-pointer">
      Ver más <span class="text-amber-300 ml-2">🡢</span>
    </div>
  </div>
</div>
