<div id="skills" class="w-full bg-gradient-to-b from-[#391E82] to-[#362951] border-b-3 border-black text-4xl flex justify-center items-center py-16">
    <div class="w-[60%]">
        <h2 class="text-7xl text-center font-bold bg-gradient-to-b from-[#ff54f6] to-[#e2b4e2] text-transparent bg-clip-text py-4 underline">
          Skills
        </h2>
    <div>
        
    </div>
  </div>
</div>