---
import CardSkills from "./CardSkills.astro";
import { skillData } from "../data/skills.ts";
---

<div
  id="skills"
  class="w-full overflow-hidden bg-gradient-to-b from-[#391E82] to-[#362951] border-b-3 border-black text-4xl flex justify-center items-center py-16"
>
  <div class="w-[60%]">
    <h2
      class="text-7xl text-center font-bold bg-gradient-to-b from-[#ff54f6] to-[#ffffff] text-transparent bg-clip-text py-4 underline"
    >
      Skills
    </h2>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-16">
      {
        skillData.map((skillGroup) => (
          <CardSkills
            title={skillGroup.title}
            skills={skillGroup.skills}
          />
        ))
      }
    </div>
  </div>
</div> 
